{% extends "blog/base.html" %}

{% block content %}

    <div class="mb-1" style="display: flex; justify-content: space-between">
        <h2>Posts by {{ view.kwargs.username }}</h2>
        <h2>{{ page_obj.paginator.count }} posts</h2>
    </div>
    {% for post in posts %}
        <article class="media content-section">
            <img src="{{ post.author.profile.image.url}}" class="rounded-circle article-img">
            <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                  <small class="text-muted">{{ post.posted_date|date:'d-m-Y H:i:s' }}</small>
                </div>
                <h2 style="margin-bottom: 20px"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}

    {% if is_paginated %}
        <div style="text-align: center">
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number}}">Previous</a>
            {% endif %}

            {% for number in page_obj.paginator.page_range %}
                {% if page_obj.number == number %}
                    <a class="btn btn-info mb-4" href="?page={{ number }}">{{ number }}</a>
                {% elif number > page_obj.number|add:'-3' and number < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ number }}">{{ number }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number}}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock content %}
