{% extends "blog/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log in</legend>

                {{ form|crispy }}
                <div class="pt-1">
                    <small>Forgot your password? <a class="td-none" href="{% url 'password-reset' %}">Get a new one</a></small>
                </div>
            </fieldset>

            <div class="border-top form-group pb-2 mt-3 pt-3" style="text-align: center">
                <button class="btn btn-outline-info m-auto" type="submit">Sign in</button>
            </div>

            <div class="border-to" style="text-align: center">
                <small class="mt-1">Do not have an account? <a class="td-none" href="{% url 'users-register' %}">Sign up</a></small>
            </div>
        </form>
    </div>

{% endblock content %}
